<ul>
   <li><%= link_to 'Registered Users', :controller => 'admin', :action => 'list_registration'%></li>
   <li><%= link_to 'Events', :controller => 'events' %></li>
   <li><%= link_to 'Printable Flyer', :controller => 'welcome', :action => 'flyer' %></li>
   <li><%= link_to 'Logout', :controller => 'login', :action => 'logout' %></li>
</ul>
