<% if @registrations && @registrations.size > 0 %>
<h1>Current Registrations ( <%= @registrations.size if @registrations%> )</h1>
<table class="listing sortable" id="registration_listing">
  <thead>
     <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Mobile</th>
        <th>Age</th>
        <th>Gender</th>
        <th>City</th>
        <th>State</th>
        <th>Shirt</th>
        <th>Balance</th>
        <th>Created</th>
        <th><!-- actions --></th>
     </tr>
  </thead>
  <tbody>
    <%= render :partial => 'reg', :collection => @registrations %>
  </tbody>
</table>

<% else %>
 <p>Looks like no one has registered yet, sorry.</p>
<% end %>

<%= link_to 'Back to the Admin page', :controller => 'admin', :action => 'index' %>
