<h1>Current Registrations</h1>

<table class="listing" id="registration_listing">
  <thead>
     <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Gender</th>
        <th>City</th>
        <th>State</th>
        <th>Balance</th>
        <th>Created</th>
        <th><!-- actions --></th>
     </tr>
  </thead>
  <tbody>
    <%= render :partial => 'registration', :collection => @registrations %>
  </tbody>
</table>

<%= will_paginate @registrations %>
