<h1>Hey! Thanks for your interest in <span class="primcolor">Buckit</span><span class="altcolor">Week</span>.</h1>
<p>Registration is not currently open, though, so check
back in early Spring of 2008 to catch up and see what's 
happening!</p>