<h1>Hey! Thanks for your interest in <span class="primcolor">Buckit</span><span class="altcolor">Week</span>.</h1>
<p>Thanks for your interest! Online registration for BuckitWeek <%= @event_year -1 %> closed. </p>
