<h1>Hey! Thanks for your interest in <span class="primcolor">Buckit</span><span class="altcolor">Week</span>.</h1>
<p>Thanks for your interest! Online registration for BuckitWeek 2008
is currently scheduled to open on March 17th!</p>
