<h1>Registration for BuckitWeek is currently full</h1>

<p>We are doing everything we can to open up a few more slots
though, so perhaps you would like to go ahead and
<%= link_to 'register on the waiting list', :controller => 'registration', :action => 'register_wait_list' %>
-- if you do, we will notify you if room becomes available.</p>

<p>If you already have an account and just want to login and change
something about information you already provided, you can
<%= link_to 'login here', :controller => 'login', :action => 'login' %>.</p>
