<h1>Thanks for signing up!</h1>
<p>You are on the waiting list for <span class="summary">BUCKIT<span class="altcolor">WEEK</span></span>. We are trying our best to open up some more slots and we will notify you if more space becomes available.</p>