
#  ServerName buckitweek.org
#  ServerAlias www.buckitweek.org
#  UseCanonicalName Off
#  DocumentRoot /var/apps/buckitweek/current/public
#  <Directory "/var/apps/buckitweek/current/public">
#      Options FollowSymLinks
#      AllowOverride None
#      Order allow,deny
#      Allow from all
#  </Directory>
#
  RewriteEngine On

  # Uncomment for rewrite debugging
#  RewriteLog logs/buckitweek_rewrite_log
#  RewriteLogLevel 9

  # Check for maintenance file and redirect all requests to it
  RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
  RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  RewriteRule ^.*$ /system/maintenance.html [L]

  #Rewrite index to check for static
  RewriteRule ^/$ index.html [QSA]

  # Rewrite to check for Rails cached page
  RewriteRule ^([^.]+)$ /$1.html [QSA]
  
  # Redirect all non-static requests to mongrel cluster
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}.html !-f
  RewriteRule ^(.*)$ balancer://buckitweek_mongrel_cluster%{REQUEST_URI} [P,QSA,L]
