     <h2><a name="andrew">Andrew Wilson</a></h2>
     <p><%= image_tag 'andrew.jpg', :alt => 'Andrew Wilson', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Andrew Wilson'%>
     <strong>Andrew Wilson</strong>, his wife, Gill, and his three
     children currently make their home in Toowoomba,
     Australia. Having also lived in Sydney and London, Andrew has
     been active ministering both in teaching and writing
     capacities. In addition to authoring articles and books and
     expounding the Word orally, Andrew maintains a helpful web site
     resource, <a href="http://www.andrewwilsononline.com/">www.AndrewWilsonOnline.com</a>.</p>
     
<p style="clear: both;"><hr /></p>
        
     <h2><a name="craig">Craig Shakarji</a></h2>
     <p><%= image_tag 'craig.jpg', :alt => 'Craig Shakarji', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Craig Shakarji'%>
     <strong>Craig Shakarji</strong>, his wife, Allie, and their
     newborn, Elise, make their home in Gaithersburg, Maryland. Saved
     at a young age, Craig has served during the past decade as a
     Bible teacher and conference speaker. Craig is also secularly
     employed as a mathematician at the National Institute of
     Standards and Technology.</p>

<p style="clear:both" /><hr /></p>

     <h2><a name="jabe">J.B. Nicholson, Jr.</a></h2>
     <p><%= image_tag 'jabe.jpg',  :alt=>'Jabe Nicholson', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Jabe Nicholson' %>
     <strong>J. B. &quot;Jabe&quot; Nicholson,
     Jr.</strong>, Canadian-born, makes his home in Grand Rapids,
     Michigan. He and his wife, Louise, are blessed with seven
     children. Having been involved in Christian publishing for a
     number of years, Mr. Nicholson has authored many articles and
     several books. He travels extensively to teach and preach the
     Word of God, and has been editor of the Choice Gleanings Calendar
     and <a href="http://www.uplook.org/" title="Uplook Ministries
     website" target="_new">Uplook Magazine</a>.</p>

<p style="clear:both" /><hr /></p>
