     <h2><a name="chris">Chris Schroeder</a></h2>
     <p><%= image_tag 'chris_schroeder.gif', :alt => 'Chris Schroeder', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Chris Schroeder'%>
         <strong>Chris Schroeder</strong> - Raised in a very religious environment, Chris was saved at the age of 18 and has spent most of his saved life involved full time in ministry and evangelism. He began The Ezekiel Project and the Ezekiel Project School of Evangelism, which are equipping saints for evangelism through one- and two-week seminars, as well as through nine-month courses of both classroom and practical training. Chris resides in Armada, MI with his wife, Barb, and son, JC. </p>

<p style="clear: both;"><hr /></p>
        
     <h2><a name="craig">Craig Shakarji</a></h2>
     <p><%= image_tag 'craig.jpg', :alt => 'Craig Shakarji', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Craig Shakarji'%>
     <strong>Craig Shakarji</strong>, his wife, Allie, and their
     newborn, Elise, make their home in Gaithersburg, Maryland. Saved
     at a young age, Craig has served during the past decade as a
     Bible teacher and conference speaker. Craig is also secularly
     employed as a mathematician at the National Institute of
     Standards and Technology.</p>

<p style="clear:both" /><hr /></p>

     <h2><a name="jabe">J.B. Nicholson, Jr.</a></h2>
     <p><%= image_tag 'jabe.jpg',  :alt=>'Jabe Nicholson', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Jabe Nicholson' %>
     <strong>J. B. &quot;Jabe&quot; Nicholson,
     Jr.</strong>, Canadian-born, makes his home in Grand Rapids,
     Michigan. He and his wife, Louise, are blessed with seven
     children. Having been involved in Christian publishing for a
     number of years, Mr. Nicholson has authored many articles and
     several books. He travels extensively to teach and preach the
     Word of God, and has been editor of the Choice Gleanings Calendar
     and <a href="http://www.uplook.org/" title="Uplook Ministries
     website" target="_new">Uplook Magazine</a>.</p>

<p style="clear:both" /><hr /></p>

     <h2><a name="andrew">Andrew Wilson</a></h2>
     <p><%= image_tag 'andrew.jpg', :alt => 'Andrew Wilson', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Andrew Wilson'%>
         <strong>Andrew Wilson</strong> grew up in Sydney,
         Australia. He was converted at age 9 and by mid-teens was
         active in evangelism and heavily involved in the work of his
         local church. In his mid twenties, Andrew spent three years
         working in inner-city London in evangelism. Commended by his
         home assembly in Sydney in 1993, Andrew has since been
         involved in an evangelistic and Bible teaching ministry in
         Australia and the UK. Andrew is married to Gillian and they
         have three children (ages 9-4). They live in Toowoomba,
         Queensland, Australia.</p>


