     <h2><a name="jabe">J.B. Nicholson, Jr.</a></h2>
     <p><%= image_tag 'jabe.jpg',  :alt=>'Jabe Nicholson', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Jabe Nicholson' %>
     <strong>J. B. &quot;Jabe&quot; Nicholson,
     Jr.</strong>, Canadian-born, makes his home in Grand Rapids,
     Michigan. He and his wife, Louise, are blessed with seven
     children. Having been involved in Christian publishing for a
     number of years, Mr. Nicholson has authored many articles and
     several books. He travels extensively to teach and preach the
     Word of God, and has been editor of the Choice Gleanings Calendar
     and <a href="http://www.uplook.org/" title="Uplook Ministries
     website" target="_new">Uplook Magazine</a>.<br />
     <em>(Jabe will also have commitments outside of Buckit
     Week during those days, but he will still be available
     to do a substantial amount of the teaching).</em></p>
     
<p style="clear: both;"><hr /></p>
        
     <h2><a name="craig">Craig Shakarji</a></h2>
     <p><%= image_tag 'craig.jpg', :alt => 'Craig Shakarji', :size => '150x200',
         :style=>"float:left; padding: 10px;", :title => 'Craig Shakarji'%>
     <strong>Craig Shakarji</strong> makes his home in Gaithersburg,
     Maryland. Saved at a young age, he has served during the past
     decade as a Bible teacher and conference speaker. Craig is also
     secularly employed as a mathematician at the National Institute
     of Standards and Technology.</p>

<p style="clear:both" />
