      <h1>Frequently Asked Questions</h1>

     <h2>What is Buckit Week?</h2>
     
     <p>In a nutshell, Buckit Week is a time of intensive, systematic
     teaching of the Word of God in areas of key Bible
     concepts. Additionally
       <ol>
          <li>Unfolding the Book of Acts, chapters 1-14</li>
          <li>Selected topics in church truth</li>
          <li>Exercises in delivery and evangelism</li>
          <li>Overarching themes of the Bible</li>
       </ol>

       That's a lot of material to cover in 5 days time, so don't plan
       on eating or sleeping. Ok maybe a little, but it is going to be
       intensive.
     </p>

    <h2>Is this a repeat of Buckit Week <%= @event_year - 1 %>?</h2>
    <p>The format is very similar but almost all of the material is new for <%= @event_year %>.</p>

    <h2>Does this mean Buckit Week is just for &quot;advanced&quot; students of the Bible?</h2>
    <p>Not at all. There will be men and women at various stages
    in their Christian growth and experience. A good attitude toward
    learning during this week is more important than an advanced background.</p>


    <h2>Will there be time to fellowship with the other believers there?</h2>
    <p>Yes! - the meals and breaks will be great times for this. Some of the
    homework will also lend itself to working together.</p>

    <h2>When is Buckit Week?</h2>
    <% if @main_event %>
      <p><b><%= @main_event.event_date_string %></b> This is a <%= @main_event.start_day_of_week%>
      evening through <%=@main_event.end_day_of_week%> evening. The reason for the scheduling is
      to allow people to be part of Buckit Week and still have time to
      rest from (or rest for) another activity the previous (or next)
      week.</p>
    <% else %>
      <p>Nothing is definite yet. Check back later on this one.</p>
    <% end %>

    <h2>Where is Buckit Week?</h2>
    <% if @main_event %>
      <p>Buckit Week <%= @main_event.year %> will be held in the
      <%=h @main_event.hotel %> in <%=h @main_event.location %>.
      This <%= @main_event.hotel_confirmed? ? "is" : "will be"%> a nice
      hotel with lots of
      amenities convenient to the needs of this week. Specific
      questions about any Buckit Week
      arrangements should be made through <%= link_to 'Buckit week
      contacts', :controller => 'welcome', :action => 'contact' %>
      rather than direct contact with the hotel.</p>
    <% else %>
      <p>Nothing is definite yet. Check back later on this one.</p>
    <% end %>

    <h2>What if I am flying in for Buckit Week?</h2>
    <p> The best airports to fly into probably will be in the
    Washington, DC area. Enough people will be attending from there
    that rides can be arranged. The three Washington airports are
    Washington-Dulles (<a href="http://www.metwashairports.com/Dulles/" title="IAD" target="_new">IAD</a>), Reagan-National (<a href="http://www.metwashairports.com/national/" title="DCA" target="_new">DCA</a>), and
    Baltimore-Washington (<a href="http://www.bwiairport.com/" title="BWI Airport" target="_new">BWI</a>).  There is a very small regional airport in
    Hagerstown itself (<a href="http://www.flyhagerstown.com/" title="HGR" target="_new">HGR</a>), but we expect the fares could be higher
    there and flights there might be harder to find.</p>

    <h2>What is the cost for Buckit Week?</h2>
    <p>The week's activities are being provided for a very low
    registration fee of $<%=@main_event ? @main_event.registration_cost : "(TBD)"%> per person for first time registrants. This includes meals and
    lodging in the hotel at 3 persons per room. The true cost of the
    the week is more than this amount, but we want to encourage those
    whom the Lord may be leading to attend and who will be most likely
    to benefit from the week's activities. To this end we are looking
    to the Lord and operating in dependence on Him to supply the
    needs.</p>
    
    <p>If you have attended Buckit Week once before, your
    registration cost will be $<%=@main_event ? @main_event.registration_cost_scale(1) : "somewhat higher"%>, and if you have attended two or
    more previous Buckit Week events, then your registration cost
    will be $<%=@main_event ? @main_event.registration_cost_scale(2) : "higher still"%>.

    <h2>Who can attend Buckit Week?</h2>
    <p>We are seeking a wide range of ages. While the week could be
    seen as generally geared for 18-30+, it is also geared for some in
    the 15-17 age range who would benefit greatly and are certainly
    encouraged to come with special permission. Please <%= link_to 'contact the registrar', :controller => 'welcome', :action => 'contact' %> for specific guidance if you are in that range and
    wish to attend. The maxiumum suggested age for Buckit Week is
    45. Married couples are welcome, but contact the registrar
    for extra information, including a change in the cost
    structure.</p>

    <h2>Why use &quot;University&quot; in the description of the week?</h2>
    <p>The reason is to accurately distinguish the week from other
    kinds of good week-long activities like camps and conferences.</p>

    <h2>Is Buckit Week just another week-long conference?</h2>
    <p>No. The teaching at Buckit Week is in a classroom setting, with
    tables, notebooks, resources, homework, and exams (not scary ones,
    though!)</p>

    <h2>Is Buckit Week a camp?</h2>
    <p>No. First, it is not held at a camp. Second, the goals are
    different than any &quot;camp&quot; we know about. </p>

    <h2>Will Buckit Week be boring?</h2>
    <p>HEY--We're calling it Buckit Week! Enough said!</p>

    <h2>When should I register?</h2>
    <p>As soon as you can commit to it. Registration filled up last year
    so do not delay unnecessarily.</p>


    <h2>Who is involved with Buckit week?</h2>

    <p>Special thanks to all those who put in a lot of effort in the
    preparations for Buckit Week <%= @event_year %>, there are many.
    Craig and Allie Shakarji will be directing the activities during the
    week.</p>

    <h2>How can I help?</h2>

    <p>Please pray for the activities during Buckit Week. Pray that those
    whom the Lord would want to attend will be there and will find benefit
    in this concentrated time of study. Pray for the speakers. Pray for 
    safety during travel for those attending from out of town.</p>

    <p>As the Lord may lead, individuals or assemblies may make tax
    deductible contributions toward Buckit Week expenses beyond what
    is covered by the registration fee. Checks can be made out to
    <strong>Buckit Week</strong>, and mailed to
         <blockquote>
              Craig Shakarji / Buckit Week<br />
              3 Arch Place # 425<br />
              Gaithersburg MD 20878<br />
          </blockquote>
    </p>
