      <h1>Frequently Asked Questions</h1>

       <p>Ok, well maybe not. We actually have no idea what questions are frequently asked. But these might be some of them, and if they aren't maybe they should be.</p>

     <h2>What is Buckit Week?</h2>
     <p>In a nutshell, Buckit Week is a time of intensive, systematic teaching of the Word of God in areas of key Bible concepts. Additionally  
       <ol>
          <li>The Gospel, especially Romans and John</li>
          <li>The Church, especially local church truth</li>
          <li>Bible study methods: hands-on, practical exercise</li>
          <li>Bible truth communication: actual practice communicating the truth of God's Word</li>
          <li>Old Testament overview including history, tabernacle, sacrifices, patriarchs, etc.</li>
          <li>New Testament overview</li>
       </ol>

       That's a lot of material to cover in 5 days time, so don't plan
       on eating or sleeping. Ok maybe a little, but it is going to be
       intensive.
     </p>

    <h2>When is Buckit Week?</h2>
    <p><b>July 22-27, 2007.</b> This is a Sunday evening through
    Friday evening. The reason for the scheduling is to allow people
    to be part of Buckit Week and still have time to rest from (or
    rest for) another activity the previous (or next) week.</p>

    <h2>Where is Buckit Week?</h2>
    <p>Current plans are to hold Buckit Week 2007 in a major hotel in
    Hagerstown, Maryland. We have not signed a contract yet, so don't
    want to name the hotel, but they have a nice conference facility
    and have offered a decent rate on a block of rooms for Buckit Week
    attendees.</p>

    <h2>What is the cost for Buckit Week?</h2>
    <p>We are currently planning to provide the weeks activities for a
    registration fee of $75 per person. This includes lodging in the
    hotel at 3 persons per room. The rooms are larger than standard and
    each room has two beds and a pull out sofa. The true cost of the the
    week is more than this amount, but we want to encourage those whom the
    Lord may be leading to attend and who will be most likely to benefit
    from the week's activities. To this end we are looking to the Lord
    and operating in dependence on Him to supply the needs.</p>

    <h2>Who can attend Buckit Week?</h2>
    <p>We are seeking a wide range of ages. While the week is geared
    for 18-30+, a few people in the 14-17 age range will be attending
    with special permission.</p>

    <h2>Why use &quot;University&quot; in the description of the week?</h2>
    <p>The reason is to accurately distinguish the week from other
    kinds of good week-long activities like camps and conferences.</p>

    <h2>Is Buckit Week just another week-long conference?</h2>
    <p>No. The teaching at Buckit Week is in a classroom setting, with
    tables, notebooks, resources, homework, and exams (not scary ones,
    though!)</p>

    <h2>Is Buckit Week a camp?</h2>
    <p>No. First, it is not held at a camp. Second, the goals are
    different than any &quot;camp&quot; we know about. </p>

    <h2>Will Buckit Week be boring?</h2>
    <p>HEY--We're calling it Buckit Week! Enough said!</p>
