<div class="centered">
<h1 class="altcolor">Get a firmer grip on key concepts in the Word of God</h1>

<div class="scripturebox vevent" title="BUCKIT Week 2007">
  <span class="summary">BUCKIT<span class="altcolor">WEEK</span>2007</span>
  was a huge success! Info and pictures from the event will be
  posted here soon and details on <span class="primcolor">BUCKIT<span class="altcolor">WEEK</span>2008</span> will be posted here when they are available.
</div>
</div>

<p><strong><span class="primcolor">BUCKIT</span<span class="altcolor">WEEK</span></strong>
is an intensive 5 day course designed to help you increase your
knowledge of key concepts in the Word of God and gain practical
hands-on experience in communicating God's truth to others. That's why
we call it</p>

<ul style="list-style-type: none; font-size: +2em;">
<li><span class="primcolor strong">B</span>ible</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">U</span>niversity</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">C</span>hristian</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">K</span>nowledge</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">I</span>ntensive</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">T</span>raining</li>
<ul style="list-style-type: none">
<li><span class="altcolor strong">WEEK</span></li>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
