<div class="centered">
<h1 class="altcolor">Get a firmer grip on key concepts in the Word of God</h1>

<div class="scripturebox vevent" title="BUCKIT Week 2008">
  <span class="summary">BUCKIT<span class="altcolor">WEEK</span>2008</span>
<ul>
  <li> Teachers: Craig Shakarji and Jabe Nicholson</li>
  <li class="location"> Springhill Suites Hotel<br />&nbsp;Hagerstown, Maryland</li>
  <li> Registration Cost: $75</li>
  <li> <abbr class="dtstart" title="2008-07-27">July 27</abbr> - <abbr class="dtend" title="2008-08-02">Aug 1</abbr>, 2008</li>
  <li><%= link_to 'Register Online', :controller => 'registration', :action => 'register' %>!</li>
</ul>
</div>
</div>

<p><strong><span class="primcolor">BUCKIT</span<span class="altcolor">WEEK</span></strong>
is an intensive 5 day course designed to help you increase your
knowledge of key concepts in the Word of God and gain practical
hands-on experience in communicating God's truth to others. That's why
we call it</p>

<ul style="list-style-type: none; font-size: +2em;">
<li><span class="primcolor strong">B</span>ible</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">U</span>niversity</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">C</span>hristian</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">K</span>nowledge</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">I</span>ntensive</li>
<ul style="list-style-type: none">
<li><span class="primcolor strong">T</span>raining</li>
<ul style="list-style-type: none">
<li><span class="altcolor strong">WEEK</span></li>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
