<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <title>BUCKIT Week 2008<%= " - #{@title}" if @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag 'buckit', :media => 'all' %>
    <%= javascript_include_tag 'logo' %>
  </head>
  <body>

   <div id="header">
      <span class="logotxt primcolor"><span class="k8">BU</span>CKIT</span>
      <%= image_tag 'bible_man.jpg', :alt => 'Buckit Week', :size => '130x90', :title => 'Buckit Week', :id => 'logo_img' %>
      <span class="logotxt altcolor">WEEK</span>

      <ul id="topnav">
        <li><%= link_to_unless_current 'Home', :controller => 'welcome', :action => 'index' %></li>
        <li>|</li>
        <li><%= link_to_unless_current 'Bios', :controller => 'welcome', :action => 'bios' %></li>
        <li>|</li>
        <li><%= link_to_unless_current 'Faq', :controller => 'welcome', :action => 'faq' %></li>
        <li>|</li>
	<li><%= link_to_unless_current 'Contact', :controller => 'welcome', :action => 'contact' %></li>
        <li>|</li>
	<li><%= link_to_unless_current 'Register', :controller => 'registration', :action => 'register' %></li>
      </ul>
   </div>

   <p style="color: green"><%= flash[:notice] %></p>

   <div id="content">
     <%= yield %>
   </div>

   <div id="footer">
      http://www.<span class="primcolor">buckit</span><span class="altcolor">week</span>.org/
      <br />
      &copy; <span class="primcolor">Buckit</span><span class="altcolor">Week</span>.org, 2007-2008
   </div>
   <script><!--
      insert_random_logo_for_id('logo_img','/images/logo','.jpg',7)
   --></script>
 </body>
</html>
