<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <title>BUCKIT Week 2008<%= " - #{@title}" if @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag 'buckit', :media => 'all' %>
    <style>
       div.centered div.scripturebox {
          width: 70%;
          margin-left: 15%;
        }
    </style>
  </head>
  <body>

   <div id="header">
      <span style="font-size: 90px;" class="logotxt primcolor"><span class="k8">BU</span>CKIT</span>
      <%= image_tag 'bible_man.jpg', :alt => 'Buckit Week', :size => '130x90', :title => 'Buckit Week' %>
      <span class="logotxt altcolor">WEEK</span>
  </div>

   <div class="centered" style="color: black; font-size: +3em;">http://www.<span class="primcolor">buckit</span><span class="altcolor">week</span>.org</div>
    <br />
    <div class="centered" style="color: black; font-size: +2em;">Questions? Email registrar@buckitweek.org</div>

   <div id="content">
     <%= yield %>
   </div>

   <div id="footer">
      http://www.<span class="primcolor">buckit</span><span class="altcolor">week</span>.org/
      <br />
      &copy; <span class="primcolor">Buckit</span><span class="altcolor">Week</span>.org, 2007-2008
   </div>
 </body>
</html>
